*{
   background-size: cover;
   border: 10px;
   padding: 20px;
}
#header{
  display: flex; 
  flex-direction: row;
  border: 10px;
  color: white;
  background-color: black;
}
.agriplus{
    width: 300px;
    float: left;
    font-size: 25px;
    font-weight: bold;
}
.menuitem{
    width: 600px;
    display: flex;
    flex-direction: row;
    color: white;         
}
#menu{
    border: 20px;
   
}
.login{
    border: 20px;
    float: right;
}
.btn-get{
    background-color: #ED661F;
    border: 20px;
    float: right;
}
#partone{
    display: flex;
    flex-direction: row;
    background-image: url(../images/background.png);
    padding: 100px;
    width: 800px;
    height: 400px;
}
.title{
    text-align: left;
}
.fruits{
    width: 300px;
    float: right;
}