.content{
    margin: auto;
    width: 95%;
    background-size: cover;
    margin-top: 10px;
}

.header{
  display: flex; 
  flex-direction: row;
  color: white;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.agriplus{
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.menu{
    display: flex;
    flex-direction: row;
    color: white;  
    width: fit-content;
}

.menuitem{
    display:block;
    float:left;
    position:relative;
    width:100px;
    text-align:center;
    text-decoration: none;
    color: white;
}

.menuitem  ul{
    text-decoration: none;
}

.menuitem  ul li{
    text-decoration: none;
    text-align: center;
}

.menuitem  ul li a{
    text-decoration: none;
    color: white;
}

.menuitem  ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #ED661F;
}

.last{
    float: right;
    width: 40%;
    padding-top: 15px;
}

.login{
    border: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
}

.btn-get{
    border: 20px;
    border-radius: 10px;
    float: right;
    writing-mode: horizontal-tb;
    background-color: #ED661F;
}

#partone{
    display: flex;
    flex-direction: row;
    background-image: url(../images/background.png);
    background-position: center;
    min-height: 500px;
    clear: unset;
    background-repeat: no-repeat;
  background-size: 100% 100%;
  width: fit-content;
}

.title{
    text-align: left;
}
.fruits{
    width: 400px;
    float: right;
}
#vendor{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
    border: 2px;
    border-style: ridge;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    padding: 0px;
    
}
.ven{
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
}
#parttwo{
    display: flex;
    flex-direction: row;
    width: 800px;
    padding: 50px;
    border: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 12px;
}
.comm{
    width: 320px;
    height: 250px;
}
.subtitle{
font-size: 12px;
text-align: center;
}
#prodtable{
    display: flexbox;
    box-sizing: content-box;
    margin: 20px;
}
.carrots{
    width: 130px;
    height: 120px;
}
.pop{
    text-align: left;
}
.items{
    font-size: 10px;
    margin: 0px;
    padding: 0px;  
}
#btn-see{
    border: 50px;
    font-weight: bold;
    font-size: 16px;
    float: right;
    width: 200px;
}
.see{
    margin: 20px;
    border: 20px;
    border-bottom-style: groove;
    padding-bottom: 50px;
}
#partfour{
    padding: 10px;
    margin: 20px;
}
.feedback{
    display: flex;
    flex-direction: row;
}
.people{
    display: flex;
    flex-direction: row;
}
.checked{
    color: #ED661F;
    size: 10px;
}
.rebecca{
    width: 40px;
    height: 40px;
    float: left;
    clear: none;
}
#bottom{
    color: white;
    padding: 20px;
    margin: 10px;
    border-style: inset;
    background-color: rgb(63, 6, 6);
    text-align: center;
}
.email{

}
.subscribe{
    color: smoke whitesmoke;
    background-color: #ED661F;
    width: 100px;
}